*.iso
isodir
sysroot
.vscode/settings.json
/.idea/inspectionProfiles/Project_Default.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/editor.xml
/.idea/vcs.xml
/.idea/workspace.xml
